$base-font-size: 16px;
$base-line-height: 24px;
$base-vertical-unit: 6px;
$base-line-multi: 4;
$base-scale: 1.414;
$font-primary: Times New Roman, Georgia, serif;
$font-secondary: Helvetica, Arial, sans-serif;
$font-monospace: 'Lucida Console', Monaco, monospace;
$paragraph-indent: true;
$paragraph-justify: true;
$whitespace-margin: 1.5;
$whitespace-padding: 1.5;